* {
    outline: none !important;
}
#body {
    margin: 0;
    font-family: "NanumSquare" !important;
}

#content {
    width: 1200px;
    min-height: 750px;
    margin: 0px auto;
}
#contentLeft {
    width: 300px;
    min-height: 750px;
    float: left;
    border-right: 1px solid #bbb;
}
#contentRight {
    width: 900px;
    min-height: 750px;
    float: right;
}
#footer {
    height: 150px;
    background-color: #bbb;
}
section.container {
    padding: 65px 0px 15px 0px;
}

@media (max-width: 768px) {
    .navbar-form .form-group {
        width: 90%;
        float: left;
    }
    .navbar-form .form-group + button {
        margin-left: 5px;
        float: left;
    }
    #search::after {
        display: block;
        content: "";
        clear: both;
    }
    .navbar-collapse.collapse.in {
        max-height: none;
    }
}
#alermArea {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
.alermCount {
    position: relative;
    display: inline-block;
    font-size: 13px;
    left: -10px;
    top: -15px;
    background-color: tomato;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    color: white;
    text-align: center;
    z-index: 1;
}
