    #contentLeft {
        min-height: 900px;
    }
    /* 메뉴 위 프로젝트 정보 */
    #contentLeft > #projectInfo {
        width: 250px;
        height: 200px;
        margin: 30px auto;
        text-align: center;
        position: relative;
        top: 0px;
        left: 0px;
    }
    #contentLeft #projectName {
        margin-top: 70px;
        font-size:1.5em;
    }
    #contentLeft #projectPeriod {
        margin-top: 10px;
        font-style: italic;
        color: #777;
    }
    #contentLeft #projectContent {
        margin-top: 20px;
        padding: 0 10px;
        /* font-style: italic; */
    }
    #contentLeft #projectMember {
        width: 100%;
        min-height: 60px;
        position: relative;
        top: 0;
        left: 0;
        /* bottom: 30px; */
        margin-top: 30px;

    }
    #projectMember .profilePic {
        width: 50px;
        height: 50px;
        border: 3px solid white;
        border-radius: 25px;
        box-shadow: 3px 3px 2px #ccc;
        display: inline-block;
        background-color: #ccc;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: -10px;
    }
    #projecMember .profilePic:first-child {margin-left: 0px;}

    #projectMember .profilePic:hover {
        transform: translate(0px, -15px);
        transition: tranform 0.5s;
    }
    #AddMember {
        text-align: left;
        padding-top: 35px;
        padding-left: 25px;
        color: #777;
    }
    #AddMember a {
        color: #777;
        font-size: 0.9em;
    }

    /* 메뉴 */
    #contentLeft > #menu {
        width: 230px;
        min-height: 400px;
        margin: 100px auto;
        /* border: 1px solid black; */
    }
    #contentLeft #menu ul, #menu li {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        box-shadow: 0px 0px 0px white;
    }
    #contentLeft #menu .accordion > div, #menu .panel > div{
        margin: 0 auto;
        padding-left: 10px;
        padding-top: 9px;
        border-bottom: 1px solid #999;
        height: 40px;
        padding-right: 10px;
    }
    #contentLeft #menu .panel > div {
        margin-left: 30px;
    }
    #contentLeft #menu ul.active > div {
        color: #5bc0de;
        border-bottom: 1px solid #5bc0de; 
    }
    #contentLeft #menu > ul.active > div > i {
        color: #5bc0de;
    }
    #contentLeft #menu > ul.active li {
        display: block;
    }
    #contentLeft #menu ul i {
        margin-right: 10px;
        color: #555;
    }
    #contentLeft #menu li.panel {
        display: none;
    }
    #contentLeft #menu ul.parent > div::after {
        content: "\f078";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        float: right;
    }
    #contentLeft #menu ul.active.parent > div::after{
        content: "\f077";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        float: right;
    }
    #contentLeft #menu ul:hover > div {
        color: #5bc0de;
        border-bottom: 1px solid #5bc0de; 
    }
    #contentLeft #menu ul:hover > div > i {
        color: #5bc0de;
    }
    #contentLeft #menu li:hover > div {
        color: #5bc0de;
        border-bottom: 1px solid #5bc0de; 
    }
    #contentLeft #menu li:hover > div > i {
        color: #5bc0de;
    }