        #top {
            width: 500px;
            height: 200px;
            /* border-bottom: 1px solid black; */
            background-color: #eee;
            margin-left: 190px;
        }
        #contentRight > div:first-child {
            font-size: 30px;
            font-weight: bold;
            margin-left: 20px;
            margin-bottom: 10px;
        }
        #contentRight > div:first-child {
            background-color: #5bc0de;
            width: 8px;
            height: 35px;
            float: left;
            margin-top: 22px;
            margin-right: 7px;
        }

        #contentRight > h1:first-child {
            padding-left: 10px;
            display: block;
        }

        #profile {
            /* border: 1px solid black; */
            border-right: 1px solid white;
            height: 200px;
            width: 180px;
            text-align: center;
            float: left;
            position: relative;
            /*top: 0;
            left: 0; */
            /* margin-left: 380px; */
        }
        #profile > img {
            width: 90px;
            border-radius: 50%;
            border: 1px solid white;
            background-color: white;
            box-shadow: 0 0 3px #444;
        }
        #profile > #edit_img {
            border: 1px solid #bbb;
            border-radius: 5px;
            box-shadow: 2px 2px 2px #bbb;
            width: 300px;
            height: 120px;
            background-color: rgb(245, 245, 245);
            padding-top: 20px;
            padding-left: 30px;
            position: absolute;
            top: 40px;
            left: 110px;
            display: none;
            z-index: 1;
        }

        #profile > #edit_img > div {
            width: 300px;
            margin-top: 20px;
            margin-left: 40px;
        }

        #profile div:first-child {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            font-size: 20px;
            text-align: center;
            padding-top: 3px;
            border: 1px solid #ccc;
            background-color: white;
            position: relative;
            top: 20px;
            left: 110px;
            box-shadow: 0 0 3px #666;
        }
        #profile div:nth-child(3) {
            /* border-top: 1px solid white; */
            margin-top: 10px;
            padding-top: 5px;
            font-size: 18px;
            color: #444;
        }
        #profile div:nth-child(4) {
            color: #333;
            font-size: 12px;
            text-decoration: underline;
        }
        #side_profile {
            /* border: 1px solid black; */
            width: 310px;
            height: 200px;
            float: left;
            padding-left: 20px;
            padding-top: 5px;
        }
        #side_profile > div > span {
            font-weight: bold;
            font-size: 14px;
        }
        #side_profile > div > input {
            border: none;
            width: 120px;
            margin-left: 5px;
            padding: 3px 5px;
            /* background-color: #ccc; */
        }
        #side_profile > .edit {
            display: none;
        }
        #side_profile > div {
            padding-top: 20px;
            font-size: 13px;
            color: #666;
        }
        #side_profile > div > button {
            outline: none;
            height: 25px;
            width: 35px;
            padding: 0px;
            margin-left: 5px;
        }
        #side_profile > div.edit > button.cancel {
            width: 55px;
        }
        #side_profile > div.edit_before > input {
            /* background-color: #eee; */
        }
        /* ------------------------ */
        #page_content {
            margin-top: 30px;
        }
        #friend {
            margin-left: 20px;
            margin-top: 20px;
            width: 420px;
            float: left;
            /* border-right: 1px solid #ccc; */
        }
        #friend > div:first-child {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
        }

        #friend #friend_box {
            width: 420px;
            height: 300px;
            overflow-y: scroll;
        }
        #friend .tbl {
            width: 400px;
            height: 300px;
            /* border: 1px solid #ccc; */
            border-radius: 5px;
            border-collapse: collapse;
        }
        #friend .tbl th {
            background-color: #5bc0de;
            /* border: 1px solid black; */
            padding-left: 20px;
            color: white;
            height: 30px;
        }
        #friend .tbl td {
            height: 50px;
            border-bottom: 1px solid #eee;
            padding: 0px;
        }
        #friend .tbl tr:hover {
            background-color: rgb(229, 245, 252);
            cursor: pointer;
        }
        #friend .tbl td:nth-child(1) {
            width: 50px;
            text-align: center;
        }
        #friend .tbl td:nth-child(2) {
            width: 270px;
            padding-left: 10px;
            font-size: 14px;
            font-weight: bold;
            color: #333;
        }
        #friend .tbl td:nth-child(2) > div {
            font-weight: lighter;
            font-size: 13px;
            color: #666;
            text-decoration: underline;
        }
        #friend .tbl td:nth-child(3) {
            width: 80px;
            text-align: center;
        }
        #friend .tbl td:nth-child(3) button {
            height: 25px;
            padding: 0px 5px;
            outline: none;
            padding-top: 3px;
        }

        #friend .tbl td img {
            width: 40px;
            border: 1px solid #ccc;
            border-radius: 50%;
            box-shadow: 0 0 3px #bbb;
        }
        /* ------------------------------ */
        #project {
            margin-left: 20px;
            margin-top: 20px;
            float: left;
        }

        #project > div:first-child {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            margin-bottom: 5px;
        }
        #project #project_box {
            width: 420px;
            height: 300px;
            overflow-y: scroll;
        }
        #project .tbl {
            width: 400px;
            height: 100px;
            /* border: 1px solid #ccc; */
            border-radius: 5px;
            border-collapse: collapse;
        }
        #project .tbl th {
            background-color: #5bc0de;
            color: white;
            height: 30px;
            padding-left: 10px;
        }
        #project .tbl th:nth-child(2) {
            padding-left: 30px;
        }
        #project .tbl tr:hover {
            background-color: rgb(229, 245, 252);
            cursor: pointer;
        }

        #project .tbl td {
            height: 50px;
            border-bottom: 1px solid #eee;
            font-size: 13px;
        }
        #project .tbl td:nth-child(1) {
            width: 140px;
            padding-left: 10px;
            font-weight: bold;
            font-size: 15px;
            color: #444;
        }
        #project .tbl td:nth-child(2) {
            width: 220px;
            padding-left: 30px;
            color: #666;
        }
        #project .tbl td:nth-child(3) {
            width: 40px;
            padding-right: 10px;
            /* text-align: center; */
        }

        #project .tbl td button {
            height: 25px;
            padding: 0px 5px;
            outline: none;
            padding-top: 3px;
        }
