#content #contentLeft {
    width: 350px;
    padding-top: 57px;
    text-align: right;
    padding-right: 20px;
    border-right: 0px;
    float: left;
}
#contentLeft strong {
    display: block;
    font-size: 1.3em;
    margin-bottom: 55px;
}
#content #contentRight {
    width: 800px;
    padding-top: 50px;
    padding-left: 20px;
    float: right;
}
#contentRight #inputArea {
    width: 500px;
}
#contentRight .form-control {
	margin-bottom: 10px;
    height: 45px;
}
#submitArea {
    margin-top: 10px;
    width: 500px;
    text-align: right;
}
#submitArea input {
    width: 80px;
    margin-left: 10px;
}
#fileBox{
	margin-bottom: 20px;
}
#fileBox input[type='file'] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
#fileBox label {
    display: inline-block;
    padding: 0.75em 0.75em;
    margin: 0px;
    vertical-align: middle;
    height: 45px;
    margin-top: -2px;
}
#fileBox .form-control {
    width: 413px;
    display: inline-block;
    background-color: white;
    border-radius: 0.25em;
}
#logoBig {
    left: 900px;
    width: 400px;
    margin-top: 20px;
}
.imgContainer {
    width: 750px;
    margin: 0 auto;
    /* padding-bottom: 5px; */
}
strong span {
    color: red;
}
.glyphicon{
	position: relative;
	left: 470px;
	top: -43px;
	font-size: 22px;
	height: 22px;
}
.glyphicon-remove{
	color: tomato;
}
.glyphicon-ok{
	color: lime;
}
#submitBtn{
	display: none;
}