#titleContainer {
	margin-left: 60px;
	margin-top: 50px;
	/* border: 1px solid black; */
	width: 200px;
}

#contentRight>#titleContainer>i {
	font-size: 2.7em;
	float: left;
	padding-right: 20px;
}

#title {
	font-size: 2.5em;
	border-left: 10px solid #5bc0de;
	padding-left: 10px;
	margin-left: 50px;
	margin-top: 100px; 
}

#projectlist {
	/* border-left: 1px solid #777;
        border-right: 1px solid #777; */
	width: 800px;
	/* height: 300px; */
	margin-left: 100px;
	margin-top: 80px;
}

/* #projectlist tr td:first-child:hover {
        cursor: pointer;
    } */
#projectlist tr th {
	/* border: 1px solid black; */
	background-color: #5bc0de;
	font-size: 20px;
	text-align: center;
}

#projectlist tr th:last-child {
	width: 110px;
}

#projectlist tr th:first-child {
	width: 200px;
}

#projectlist tr th:nth-child(2) {
	width: 150px;
}

#projectlist tr th:nth-child(3) {
	width: 190px;
}

#projectlist tr td {
	/* border: 1px solid black; */
	text-align: center;
}

#projectlist tr td:hover {
	cursor: pointer;
}

#projectlist tr td:first-child {
	text-align: center;
	padding-left: 20px;
}

#typecontainer {
	margin-left: 200px;
	margin-top: 40px;
}

#typecontainer>select {
	width: 150px;
	height: 35px;
	float: left;
	margin-right: 25px;
}

.listsearch>.listsearch-group>input {
	width: 450px;
	height: 30px;
	margin-left: 40px;
	float: left;
}

.listsearch button {
	width: 30px;
	height: 30px;
	margin-left: 15px;
}

#paging {
	margin-left: 30px;
	text-align: center;
}

#QnA_pic {
	
	border-left: 10px solid #5bc0de;
	height: 50px;
	padding-left: 10px;
}

#QnA_pic h1 {
	/* display: inline-block; */
	padding-top: 5px;
}

#select_title {
	display: inline-block;
	width: 300px;
}

#search {
	width: 400px;
	display: inline-block;
}

